[Unit]
Description=Idle management daemon for Wayland
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w
Restart=on-failure
