[Unit]
Description=Wallpaper utility for Wayland
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Install]
WantedBy=niri.service

[Service]
ExecStart=/usr/bin/swaybg --image "%h/.config/wallpaper"
Restart=on-failure
